<html>

<head>
  <title>Aga's blog</title>
</head>

<body>
  <div>
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  {% for post in posts %}
  <div>
    <p>published: {{ post.published_date }}</p>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}
  <!-- {% for post in posts %}
  {{ post }}
  {% endfor %} -->
  <!-- {{ posts }} -->
  <!-- <div>
    <p>published: 07.09.2019, 15:33</p>
    <h2><a href="">My firs post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, atque quo quam delectus labore obcaecati omnis
      aspernatur consectetur provident veritatis minima recusandae quas! Tenetur, maxime? Libero dicta atque neque
      aliquid.</p>
  </div>
  <div>
    <p>published: 07.09.2019, 15:33</p>
    <h2><a href="">My firs post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, atque quo quam delectus labore obcaecati omnis
      aspernatur consectetur provident veritatis minima recusandae quas! Tenetur, maxime? Libero dicta atque neque
      aliquid.</p>
  </div>
  <p>Hi there!</p>
  <p>It works!</p> -->
</body>

</html>